<html>
    <head>
        <title>Base</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>

        <div class="base-back">
            <a href="home.html">
                <button type="button" class="logout-btn">Log out</button>
            </a>
            
            <h3 class="logo">Career Guide</h3>
            <div class="img-container">
                <div class="tcc-item">
                    <img src="C:\\Users\\HP\\OneDrive\\Desktop\\Career Guide\\static\\test.jpg" alt="test"  class="tcc-img">
                    <a href="./testt.html">
                        <button class="tcc-button">Take a Test</button>
                    </a>
                    
                </div>
                <div class="tcc-item">
                    <img src="C:\\Users\\HP\\OneDrive\\Desktop\\Career Guide\\static\\career_path.jpg" alt="career" class="tcc-img">
                    <a href="./path.html">
                        <button class="tcc-button">Career Path</button>
                    </a>
                </div>
                <div class="tcc-item">
                    <img src="C:\\Users\\HP\\OneDrive\\Desktop\\Career Guide\\static\\chat_.jpg" alt="chatbot"  class="tcc-img">
                    <a href="./bot.html">
                        <button class="tcc-button" >ChatBot</button>
                    </a>
                       
                    
                </div>
                
            </div>
        </div>
        
    </body>
</html>